<div class="well">

<%= form_tag '/login' do %>
<div class="control-group">
  <%= label_tag :username %>
  <%= text_field_tag :username, params[:username] || '' %>
</div>
 
<div class="control-group">
<%= label_tag :password %>
<%= password_field_tag :password, params[:password] || '' %>
</div>
 
<div class="control-group">
<%= label_tag :city %>
<%= text_field_tag :city, params[:city] || '' %>

<%= label_tag :state %>
<%= text_field_tag :state, params[:state] || '' %>

</div>

<div class="control-group">
<%= label_tag :first_interest %>

<%= label_tag :second_interest %>


</div>




<%= submit_tag 'login', class: "btn btn-success"  %>
 
<% end %>
</div>