
 <div class="well">
<%= form_for @user do |f| %>
<%= render 'layouts/errors', obj: @user %>


<div class="control-group">
<%= f.label :username %>
<%= f.text_field :username%>
</div>


<div class="control-group">
<%= f.label :password %>
<%= f.password_field :password %>
</div>

<br>
<p>Your Location (use 2 letter abbreviation for State) </p>

<div class="control-group">
<%= label_tag :city %>
<%= text_field_tag :city %>
</div>

<div class="control-group">
<%= label_tag :state %>
<%= text_field_tag :state %>
</div>

<div class="control-group">
<%= label_tag :zipcode %>
<%= text_field_tag :zipcode %>
</div>

<br>
<p>Your Interests</p>
<div class="control-group">
<%= label_tag :first_interest %>
<%= text_field_tag :first_interest %>
</div>

<div class="control-group">
<%= label_tag :free_time %>
<%= text_field_tag :free_time %>
</div>
<br>


<%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: "btn btn-success"  %>

<% end %>
</div>
