
<% if !logged_in? %>

<div class="top_space"></div>



<div class='jumbotron'>
  <h1>Welcome to Treble!</h1>
 </div>
 <h3 class="intro_text">Treble is a way to quickly view top stories, news on your interests and see relevant local events.</h3>
 <h3 class="intro_text">Try it now!</h3>

<br>
<div class="row" id="center">
  <%= button_to "Sign up if you're new", register_path, :method => "get", class: "button_link1" %>
  <br>
  <%= button_to "Registered? Sign in", login_path, :method => "get", class: "button_link2" %>
</div>


  <div class='bottom_space'></div>

    <% else %>

<span>

  <div class="row">
  <div class='well'>
  <h2 class="intro_text"><%= link_to Treble, root_path %></h2>
  <br>
  <% if @weather_rpt.has_key?("Error Condition Alpha") %>
    <p class="intro_text">Sorry, there is no weather information at this time</p>
    <% else %>
<h4 class="intro_text">The weather at <%= current_user.city %><%= ", " %><%= current_user.state %> is currently <%= @weather_rpt['current_observation']['temp_f'] %> degrees F.</h4>
<br>
<p class="intro_text">Your interest is <%= @user.interest1  %>, and you like <%= @user.free_time %> in your free time.</p>
<% end %>
</div>
</div>
<br>

<div class="intro_text">
<div class="row" >
 <div role='tabpanel'>
  <ul class='nav nav-tabs nav-justified'>
    <li class='<%= 'active' if params[:tab].nil? %>'>
   <%= link_to "Top Stories", tab: nil %><span class="badge"><%= (@nytimes_top["results"]).length %> </li>

    <li class='<%= 'active' if params[:tab] == 'interests' %>'>
    <%= link_to "News on your interests", tab: 'interests' %><span class="badge"><%= (@nytimes_data["response"]["meta"]["hits"]).to_i %></li>

    <li class='<%= 'active' if params[:tab] == 'meetup' %>'>
    <%= link_to "Meetup Networking Opportunities", tab: 'meetup' %><span class="badge"><%= @meetup_data["results"].length %></span></li>

    <li class='<%= 'active' if params[:tab] == 'freetime' %>'>
    <%= link_to "Events for your free time", tab: 'freetime' %><span class="badge"><%= @nytimes_events["results"].length %> </span></li>

  </ul>

  <% if params[:tab].nil? %>
  <%= render 'top_stories', stories: @nytimes_top %>

  <% elsif params[:tab] == 'interests' %>
  <%= render 'home/articles', interest: @nytimes_data  %>

  <% elsif params[:tab] == 'meetup' %>
  <%= render 'networking', meetups: @meetup_data %>

  <% elsif params[:tab] == 'freetime' %>
  <%= render 'events', freetime: @nytimes_events %>

  <% end %>

</div>
</div>

</div>


  <% end %>

