
<% if !logged_in? %>
 
<div class="top_space"></div>



<div class='jumbotron'>
  <h1>Welcome to Treble!</h1>
 </div>
 <h3 class="intro_text">Treble is a way to quickly view top stories, news on your interests and see relevant local events.</h3>
 <h4 class="intro_text">Give us a try!</h4>

<br>
<div class="row" id="center">
  <%= button_to "Sign up if you're new", register_path, :method => "get", class: "button_link1" %>

  <%= button_to "Registered? Sign in", login_path, :method => "get", class: "button_link2" %>
</div>


  <div class='bottom_space'></div>

    <% else %>

<span>

  <div class="row">
  <div class='well'>
  <h3>Welcome! </h3>
  <br>
<h4>The weather at <%= current_user.city %><%= ", " %><%= current_user.state %> is currently <%= @weather_current %> degrees F.</h4>
<br>

</div>
</div>
<br>

<div class="row">
 <div role='tabpanel'>
  <ul class='nav nav-tabs'>
    <li class='<%= 'active' if params[:tab].nil? %>'>
   <%= link_to "Top Stories", action: "top_stories" %><span class="badge"><%= @top_stories1 %> </span></li>

    <li class='<%= 'active' if params[:tab] == 'interests' %>'>
    <%= link_to "News on your interests", action: "articles", tab: 'interests' %><span class="badge"><%= @hits %></span></li>
    
    <% if @test == 1 %>
    <li role='networking'><%= link_to "Meetup Networking Opportunities", controller: "home", action: "networking" %><span class="glyphicon glyphicon-thumbs-up"></span></li>
    <li role='events'><%= link_to "Events for your free time", controller: "home", action: "events" %><span class="badge"><%= @event_amt %> </span></li>
    <% end %>
  </ul>

  <% if params[:tab].nil? %>
  <%= render 'top_stories', stories: @nytimes_top %>
  
  <% elsif params[:tab] == 'interests' %>
  <%= render 'home/articles', interest: @nytimes_data  %>
  <% end %>

</div>
</div>

</div>
</div>

  <% end %>

