
<% if !logged_in? %>
</div class='top_space'>
<div class='main_space' class='jumbotron'>
  <h1>Welcome to Treble!</h1>
</p>
<p><%= button_to "Sign up if you're new", class="btn btn-primary btn-lg", action: "register_path" %></p>
<p><%= button_to "Login", class="btn btn-primary btn-lg", action: "login_path" %>
  </div>
  <div class='bottom_space'>

    <% else %>
<span>
<h3>Welcome <%= current_user.username %> </h3>
<h4>The weather at <%= user.city %>, <%= user_state %> is currently <%= current_user.weather %></h4>

<div role='tabpanel'>
  <ul class='nav nav tabs' role='tablist'>
    <li role='news' class='active'><a aria-controls='news' role='tab' data-toggle='tab'>News</li>
    <li role='networking'><a aria-controls='networking' role='tab' data-toggle='tab'>Networking Opportunities</li>
  </ul>

<div class='tab-content'>
  <div role="news" class='tab-pane active' id='news'>

  </div>

  <div role='networking' class='tab-pane' id='networking'>


  </div>


</div>


</div>



  <% end %>
