
<% if !logged_in? %>
</div class='top_space'>
<div class='main_space' class='jumbotron'>
  <h1>Welcome to Treble!</h1>
</p>
<p><%= button_to "Sign up if you're new", class="btn btn-primary btn-lg", action: "register_path" %></p>
<p><%= button_to "Login", class="btn btn-primary btn-lg", action: "login_path" %>
  </div>
  <div class='bottom_space'>

    <% else %>
<span>
  <div class='well'>
  <h3>Welcome <%= @user.username %> </h3>
<h4>The weather at <%= @user.city %>, <%= @user_state %> is currently <%= @weather_rpt %></h4>
</div>

 <div role='tabpanel'>
  <ul class='nav nav tabs' role='tablist'>
    <li class= "active"><%= render 'top_stories' %><span class="glyphicon glyphicon-globe"></span>Top Stories</li>
    <li role='news'> <%= render 'articles' %><span class="glyphicon glyphicon-briefcase"></span>News on your interests</li>
    <li role='networking'><%= render 'networking' %><span class="glyphicon glyphicon-thumbs-up"></span>Meetup Networking Opportunities</li>
    <li role='events'><%= render 'events' %><span class="glyphicon glyphicon-heart"> </span> Events for your free time</li>
  </ul>

</div>


</div>


  <% end %>

