
<% if !logged_in? %>
</div class='top_space'>
<div class='main_space' class='jumbotron'>
  <h1>Welcome to Treble!</h1>
</p>
<p><%= button_to "Sign up if you're new", class="btn btn-primary btn-lg", action: "register_path" %></p>
<p><%= button_to "Login", class="btn btn-primary btn-lg", action: "login_path" %>
  </div>
  <div class='bottom_space'>

    <% else %>
<span>
  <div class='well'>
  <h3>Welcome <%= @user.username %> </h3>
<h4>The weather at <%= @user.city %>, <%= @user_state %> is currently <%= @weather_rpt %></h4>
</div>

 <div role='tabpanel'>
  <ul class='nav nav tabs' role='tablist'>
    <li class= "active"><%= link_to "Top Stories", top_stories %><span class="glyphicon glyphicon-globe"></span></li>
    <li role='news'> <%= link_to "News on your interests", articles %><span class="glyphicon glyphicon-briefcase"></span></li>
    <li role='networking'><%= link_to "Meetup Networking Opportunities", networking %><span class="glyphicon glyphicon-thumbs-up"></span></li>
    <li role='events'><%= link_to "Events for your free time", events %><span class="glyphicon glyphicon-heart"> </span></li>
  </ul>

</div>


</div>


  <% end %>

